.brand-title {
	margin: 0 0;
	padding: 0 15px;

}

.brand-image {
	margin: 10px 0 10px;
}

.brand-text {
	margin: 0 10px;
	line-height: 69px;
	color: #dd3e3e;
	height: 69px;
	font-family: "Roboto", "Helvetica", "Arial";
	font-weight: 400;
}

.list-cafe {
	background-color: #dd3e3e !important;
	color: white;
}

.modal-dialog-signup {
	width: 20%;
}

.decoration {
	margin: 5px 0;
	padding: 0;

}

.decoration-hr {
	padding: 0;
}

.vcenter {
	display: flex;
	align-items: center;
}

.signup-form {
	font-weight: 200;
	margin-bottom: 22px;
}

.login-form {
	font-weight: 200;
	margin-bottom: 26px;
}


.error-span {
	position: static;
}

.signup-button {
	width: 100%;
	background-color: rgb(217, 65, 64) !important;
	color: white;

}

h5 {
	margin: 0 auto 5px;
	color: rgb(217, 65, 64);
}

.facebook-label {
	width: 100%;
	font-weight: 400;
	padding-left: 8%;
}


@media screen and (max-width : 1024px) {
	.modal-dialog-signup {
		width: 35%;
		margin: 50px auto;
	}
}

@media screen and (max-width: 737px) {
	.modal-dialog-signup {
		width: 95%;
		margin: 50px auto;
	}
}

@media screen and (max-width: 753px) {
	.navbar {
		height: 70px;
	}

	.navbar-collapse {
		margin-top: 20px;
		background-color:  rgb(231, 231, 231);
	}
}
