body {
	padding: 70px 0 0;
}

.home-heading {
	font-size: 100px !important;
	font-weight: 300;
}

.home-sub {
	font-weight: 200;
}

.jumbotron {
	background-color: #fff;
	margin: 0;
}

.jumbo-foot {
	margin: 200px 0 0;
}

.main-button {
	width: 160px;
	height: 48px;
}

.list-cafe {
	background-color: rgb(255, 64, 129) !important;
	color: white;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.demo-card-square.mdl-card {
	max-width: 100%;
	width: 100%;
	height: 280px;
}

.steps {
	padding: 50px 0;
}

.works {
	height: 65vh;
	background-color: #03a9f4;
}

.works-hidden {
	display: none;
}

.works-button {
	margin: 30px 20px;
}

.works-button:hover {
	color: white;
	cursor: pointer;
}

