* {
	font-family: 'Roboto', Helvetica, Sans-Serif;
}

body {
	padding: 20px 0 0;
}

.jumbotron {
	background-color: #fff;
	padding-bottom: 50px;
	height: 60vh;
}

.banner-img {
	position: absolute;
	height: 60vh;
	width: 100%;
}

.overlay-container {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	height: 60vh;
}

.restaurant-name {
	color: white;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 45px;
	padding: 2px 0;
	line-height: 1.4;
	width: 100%;
	font-weight: 300;
	float: left;
}

.restaurant-name span {
	background-color: rgba(255, 64, 129, 0.7);
	display: inline;
	padding: 0.38rem;  /* Needs prefixing */
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.demo-card-square.mdl-card {
	width: 36vh;
	height: 40vh;
	margin: auto 100px;
	float: right;
}

.demo-card-square > .mdl-card__title {
	color: #fff;
	background-size: cover;
}

.team-name {
	background-color: rgba(255, 64, 129, 0.7);
	display: inline;
	padding: 0.38rem;  /* Needs prefixing */
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	margin: 20px auto;
}

.center-text {
	margin: 0 auto;
}

.menu {
	margin-top: 50px;
	margin-bottom: 50px;
}

.menu-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.menu-item__heading {
	padding: 25px;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 25px;
	font-weight: 400;
}

.menu-item__description {
	padding: 0 25px 20px;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 15px;
	font-weight: 200;
	height: 80px;
}

.vcenter {
	display: flex;
	align-items: center;
}

.hcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu-item__quantity {
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.menu-item__actions {
	height: 70px;
}

.menu-item__button {
	background-color: rgb(255, 64, 129) !important;
	color: white;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: 200;
	width: 100px;
	margin: 20px;
}

.sidebar__button {
	background-color: rgb(255, 64, 129) !important;
	color: white;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 15px;
	font-weight: 200;
	margin: 10px 0;
	width: 100%;
}

.options-modal__button {
	background-color: rgb(255, 64, 129) !important;
	color: white;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 15px;
	font-weight: 200;
	margin: 10px 0;
	width: 100%;
}

.sidebar__button.customer-data {
	background-color: white !important;
	color: rgb(51, 51, 51);
}

.demo-card-wide.mdl-card {
	width: 50%;
	height: 250px;
	border: 1px solid rgba(0, 0, 0, .1);
}

.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
}

.demo-card-wide > .mdl-card__menu {
	color: #fff;
}

.nav-pills {
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 15px;
}

.price {
	font-family: 'Roboto', Helvetica, Sans-Serif;
	font-size: 15px;
	font-weight: 500;
	height: 30px;
}

.top-button {
	margin-top: 0;
}

.red .active a,
.red .active a:hover {
    background-color: rgb(255, 64, 129) !important;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.address-form {
	font-weight: 200;
	margin-bottom: 22px;
}

.error-span {
	position: static;
}

.address-input {
	display: none;
}

.address {
	cursor: pointer;
}

#panels,
#cardPanels {
	margin: auto 5px;
}

.panel,
#cardPanels {
	margin-top: 15px;
	margin-bottom: 15px;
}

.add-on,
.remove {
	margin-left: 10px;
	font-size: 16px;
}

.category-title {
	font-size: 20px;
}

.order-badge {
	background-color: white;
	margin-left: 10px;
	color: rgba(0, 0, 0, .5);
}

#orderPanels,
.order-footer {
	font-size: 18px;
	margin-right: 10px;
	margin-left: 10px;
}

/* class for the overlay div */
div.fadeMe,
div.main-preload {
    opacity:0.9;
    filter: alpha(opacity=20);
    background-color:white;
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0;
    position:fixed;
    display: none;
}

.loader-inner {
	display: inline-block;
	margin-top: 20%;
	margin-left: 45%;
}


.ball-beat>div {
	background-color: rgb(255, 64, 129);
}


