<!--Modal to present the login form to the user-->
<div class="modal fade" id="loginModal" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog modal-dialog-signup" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<a class="btn btn-block btn-social btn-facebook text-center">
							<i class="fa fa-facebook"></i>
							<label class="facebook-label">Log In with Facebook</label>
						</a>
					</div>
					<div class="row decoration vcenter">
						<div class="col-md-5 col-xs-5 decoration-hr">
							<hr>
						</div>
						<div class="col-md-2 col-xs-2">
							or
						</div>
						<div class="col-md-5 col-xs-5 decoration-hr">
							<hr>
						</div>
					</div>
					<div class="row text-center">
						<h5>Log In with Email</h5>
					</div>
					<form id="loginForm" action="{% url 'users:login_user' %}" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="email" name="emailLogIn" id="emailLogIn" />
								<label class="mdl-textfield__label signup-form" for="emailLogIn">Email</label>
								<span class="mdl-textfield__error error-span emailLogIn-error">Invalid Email!</span>
							</div>
						</div>
						<div class="row">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="password" name="passwordLogIn" id="passwordLogIn" />
								<label class="mdl-textfield__label signup-form" for="passwordLogIn">Password</label>
								<span class="mdl-textfield__error error-span passwordLogIn-error">Invalid Password!</span>
								<a class="reset-password" href="{% url 'password_reset' %}"><span class="label pull-right">Forgot Password?</span></a>

							</div>
						</div>
						<div class="row">
							<paper-button id="loginButton" onclick="submitloginForm()" class="signup-button text-center">
								Log In
							</paper-button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>