{% load staticfiles %}
<!-- Site header , remains constant across most pages -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="{% url 'home:landing' %}" class="navbar-brand brand-title">
				<img alt="Brand" width="100" height="50" src="{% static "images/monster.png" %}" class="pull-left brand-image">
				<span class="pull-right brand-text">DELIVERAWR!</span>
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="myNavbar">
			{% if request.user.is_authenticated %}
				<li role="presentation"><a href="#signupModal"><paper-button noink>Hello, {{request.user.first_name }} !</paper-button></a></li>
				<li role="presentation"><a href="{% url 'users:logout_user' %}"><paper-button noink>Logout</paper-button></a></li>
			{% else %}
				<li role="presentation"><a href="#signupModal"><paper-button noink data-target="#signupModal" data-toggle="modal">SignUp</paper-button></a></li>
				<li role="presentation"><a href="#"><paper-button noink data-target="#loginModal" data-toggle="modal">Login</paper-button></a></li>
			{% endif %}
			<li role="presentation"><a href="{% url 'restaurants:interested' %}"><paper-button class="list-cafe">LIST YOUR RESTAURANT</paper-button></a></li>
		</ul>
	</div>
</nav>