.page-heading {
	margin-top: 50px;
	font-size: 45px;
	font-weight: 200;
}

.reduced-margin {
	margin: 30px auto;
}

.main-body {
	margin-bottom: 230px;
}

.restaurant-listings {
	margin-bottom: 200px;
	padding-bottom: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.pretty-text {
	width: 80%;
	padding-top: 50px;
}

.sorry-text {
	font-size: 40px;
	font-weight: 300;
	max-width: 80%;
	line-height: 50px;
}

.demo-card-square.mdl-card {
  width: 260px;
  height: 260px;
  margin: 30px;
  display: block;
  text-decoration: none
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  height: 180px;
}

.restaurant-name {
	color: white;
	font-family: 'Roboto', Helvetica, Sans-Serif;
	padding: 2px 0;
	line-height: 1.4;
	width: 100%;
	font-weight: 300;
	float: left;
}

.restaurant-name span {
	background-color: rgba(217, 65, 64, 0.7);
	display: inline;
	padding: 0.38rem;  /* Needs prefixing */
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.mdl-card__supporting-text {
	height: 40px;
}