body {
	padding: 70px 0 0;
}

* {
	font-family: 'Roboto', Helvetica, Sans-Serif;
}

.home-heading {
	font-size: 100px !important;
	font-weight: 300;
}

.home-sub {
	font-weight: 200;
}

.jumbotron {
	background-color: #fff;
	margin: 0;
}

.jumbo-foot {
	margin: 200px 0 0;
}

.postcode-error {
	position: static;
}

.main-button {
	width: 160px;
	height: 48px;
	padding-top: 10px;
}

.list-cafe {
	background-color: rgb(255, 64, 129) !important;
	color: white;
}

.float-left {
	float: left;
}

.demo-card-square.mdl-card {
	max-width: 100%;
	width: 100%;
	height: 280px;
}

.steps {
	padding: 50px 0;
}

.works {
	height: 65vh;
	background-color: #03a9f4;
}

.works-hidden {
	display: none;
}

.works-button {
	margin: 30px 20px;
}

.works-button:hover {
	color: white;
	cursor: pointer;
}

.modal-dialog {
	width: 20%;
}

.decoration {
	margin: 5px 0;
	padding: 0;

}

.decoration-hr {
	padding: 0;
}

.vcenter {
	display: flex;
	align-items: center;
}

.signup-form {
	font-weight: 200;
	margin-bottom: 22px;
}

.error-span {
	position: static;
}

.signup-button {
	width: 100%;
	background-color: rgb(255, 64, 129) !important;
	color: white;

}

h5 {
	margin: 0 auto 5px;
	color: rgb(255, 64, 129);
}

.facebook-label {
	width: 100%;
	font-weight: 400;
	padding-left: 8%;
}

.modal-footer {
	border-top-width: 0;
}


@media screen and (max-width : 1024px) {
	.modal-dialog {
		width: 35%;
		margin: 50px auto;
	}
}

@media screen and (max-width: 737px) {
	.modal-dialog {
		width: 95%;
		margin: 50px auto;
	}
}

.margin-vertical-helper {
	margin: 30px auto;
}

ul { list-style: none; padding-right: 40px; }

.reset-password span {
	color: #337ab7;
	margin-top: 10px;
}

/* class for the overlay div */
div.fadeMe,
div.main-preload {
    opacity:0.9;
    filter: alpha(opacity=20);
    background-color:white;
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0;
    position:fixed;
    display: none;
}

.loader-inner {
	display: inline-block;
	margin-top: 20%;
	margin-left: 45%;
}


.ball-beat>div {
	background-color: rgb(255, 64, 129);
}




